{
  "qc_sheet_regionals": {
    "apiSecret": "qcSheetPassword",
    "webhookUrl": "https://discord.com/api/webhooks/AAAAAA/BBBBBB"
  },
  "tj_talents_regionals": {
    "apiSecret": "tjSecret",
    "webhookUrl": "https://discord.com/api/webhooks/CCCCCC/DDDDDD"
  }
}
